kwmc rule owner="Steam" properties={float="true"}
kwmc rule owner="MySQLWorkbench" properties={float="true"}
// kwmc rule owner="Spotify" properties={scratchpad="hidden"}
kwmc rule owner="Instruments" properties={float="true"}
kwmc rule owner="iTerm2" properties={role="AXDialog"}
kwmc rule owner="App Store" properties={float="true"}
kwmc rule owner="Xcode" properties={float="true"}
// kwmc rule owner="Firefox" properties={role="AXWindow"} except="..*"
kwmc rule owner="Finder" properties={role="AXDialog"}
kwmc rule owner="Finder" role="AXDialog" properties={float="true"}
kwmc rule owner="System Preferences" properties={float="true"}
